# API Configuration
NEXT_PUBLIC_GATEFLUX_API_BASE_URL=http://localhost:8000/api/v1

# Application URLs
NEXT_PUBLIC_APP_BASE_URL=https://app.gateflux.co
NEXT_PUBLIC_WEBSITE_BASE_URL=https://gateflux.co

# Email Configuration
NEXT_PUBLIC_SUPPORT_EMAIL=hello@gateflux.co
NEXT_PUBLIC_INVESTORS_EMAIL=investors@gateflux.co
NEXT_PUBLIC_CAREERS_EMAIL=careers@gateflux.co
NEXT_PUBLIC_PRESS_EMAIL=press@gateflux.co
NEXT_PUBLIC_PRIVACY_EMAIL=privacy@gateflux.co
NEXT_PUBLIC_BILLING_EMAIL=billing@gateflux.co
NEXT_PUBLIC_LEGAL_EMAIL=legal@gateflux.co

# reCAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
